<plist version="1.0">
  <dict>
    <key>orgName</key>
    <array>
      <string>สำนักงานตำรวจแห่งชาติ</string>
      <string>กองบัญชาการตำรวจท่องเที่ยว</string>
      <string>ศูนย์ปราบปรามการโจรกรรมรถยนต์และรถจักรยานยนต์</string>
    </array>
    
    <key>telNum</key>
    <array>
      <string>191</string>
      <string>1155</string>
      <string>1192</string>
    </array>
    
    <key>orgDetails</key>
    <array>
      <string>เป็นหน่วยงานหลักที่รับผิดชอบดูแลความปลอดภัยในชีวิตและทรัพย์สินของประชาชนชาวไทยมีบทบาทสำคัญในการรักษาความสงบเรียบร้อยของสังคม บังคับใช้กฎหมาย และอำนวยความสะดวกให้แก่ประชาชน</string>
      <string>เป็นหน่วยงานที่ก่อตั้งขึ้นเพื่อดูแลความปลอดภัยของนักท่องเที่ยวที่เดินทางมาเยือนประเทศไทย โดยมีหน้าที่หลักในการป้องกันและปราบปรามอาชญากรรมที่เกี่ยวข้องกับนักท่องเที่ยว อำนวยความสะดวกให้แก่นักท่องเที่ยว และสร้างความเชื่อมั่นให้กับภาคการท่องเที่ยวของประเทศไทย</string>
      <string>เป็นหน่วยงานที่ตั้งขึ้นมาเพื่อรับผิดชอบในการป้องกันและปราบปรามการโจรกรรมรถยนต์และรถจักรยานยนต์โดยเฉพาะ มีบทบาทสำคัญในการดูแลความปลอดภัยของทรัพย์สินของประชาชน และเป็นด่านหน้าในการต่อสู้กับกลุ่มอาชญากรที่เกี่ยวข้องกับการโจรกรรมรถ</string>
    </array>

    <key>imgIcon</key>
    <array>
      <string>police.jpeg</string>
      <string>tourist.png</string>
      <string>carThiefOrg.png</string>
    </array>
  </dict>
</plist>
